
<!DOCTYPE html>
<html>
    <head>
	    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	    <link href="templates/registration/style.css" rel="stylesheet">
        <script type="text/javascript" src="https://www.yourhtmlsource.com/examples/util-functions.js"></script>
        <script type="text/javascript" src="https://www.yourhtmlsource.com/examples/clear-default-text.js"></script>

    </head>


    <body>
    {% if flag %}
    <div id="flag" title="Flag">
        <script>
        alert("Sentiment Analysis Completed!");

        </script>
    </div>
{% endif %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <h3>Welcome to your Sentiment Analysis Dashboard</h3>
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
		        <span class="navbar-toggler-icon"></span>
	        </button>
	    <div class="collapse navbar-collapse" id="navbarResponsive">

		    <ul class="navbar-nav ml-auto">
			    <li class="nav-item">
				    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
			    </li>


		    </ul>
	    </div>
    </div>
    </nav>
    <br><br><br><br><br><br><br>


        <div class="container-fluid padding">
        <div class="row text-center padding">
            <div class="col-6">
                <div class="container padding" id="Keyword">
                     <div class="col-12 text-left">
                             <form action="/external/" method="post">
                            {% csrf_token %}
                            <input type="text" name="param" value = "Type topic for new research" style="height: 40px; width:280px; " class="cleardefault"> <br><br>
                            {{data_external}} <br>
                            {{data1}}
                            <input type="submit" value="Submit">
                             </form>

                         <br><br>
                            <button onclick="location.href= 'http://localhost:5601/goto/9a2ffce4004b7dc37b86dbd38b5932bb'"> View Sentiment</button> <hr>





                    </div>
                </div>
            </div>

        </div>
        </div>
    </body>
</html>